
.row{
    margin-left: 20px;
    margin-right: 20px;
}

.movie_row{
    display: flex;
    /* to enable horizontal scrolling */
    overflow-x: scroll;
}

.movies{
    width:100%;
    object-fit: contain;
    height: 200px;
    margin-right: 10px;
    transition: 700ms;
}

.movies:hover{
    transform: scale(1.1);
}

::-webkit-scrollbar{
    display: none;
}